:root {
  &.baseline-default,
  &.baseline-grayscale {
    --sys-color-primary: hsl(281 100% 45%);
    --sys-color-primary-bright: hsl(282 100% 50%);
    --sys-color-on-primary: hsl(285 100% 98%);
    --sys-color-base: hsl(275 100% 86%);
    --sys-color-on-base: hsl(259 73% 15%);
    --sys-color-surface: hsl(300 100% 95%);
    --sys-color-cdt-base-container: hsl(286 100% 90%);
    --sys-color-surface1: hsl(296 100% 92%);
    --sys-color-surface2: hsl(285 100% 87%);
    --sys-color-surface3: hsl(276 100% 83%);
    --sys-color-surface4: hsl(272 100% 78%);
    --sys-color-surface5: hsl(267 100% 75%);
    --sys-color-header-container: hsl(275 100% 84%);
    --sys-color-divider: hsl(307 100% 47%);
    --sys-color-divider-prominent: hsl(307 100% 42%);
    --sys-color-tonal-container: hsl(177 100% 45%);
    --sys-color-on-tonal-container: hsl(213 100% 11%);
    --sys-color-neutral-container: hsl(242 100% 91%);
    --sys-color-on-surface: hsl(259 73% 15%);
    --sys-color-on-surface-subtle: hsl(268 60% 33%);
    --sys-color-state-focus-ring: hsl(178 100% 31%);
    --sys-color-state-focus-select: hsl(177 100% 40%);
    --sys-color-state-text-highlight: hsl(177 100% 44%);
    --sys-color-token-keyword: hsl(301 100% 34%);
    --sys-color-token-string: hsl(0 100% 39%);
    --sys-color-token-number: hsl(124 100% 23%);
    --sys-color-token-comment: hsl(177 100% 22%);
    --sys-color-token-tag: hsl(263 100% 46%);
    --sys-color-token-attribute: hsl(188 100% 28%);
    &.theme-with-dark-background {
      --sys-color-primary: hsl(290 100% 74%);
      --sys-color-primary-bright: hsl(290 100% 67%);
      --sys-color-on-primary: hsl(258 78% 11%);
      --sys-color-base: hsl(261 100% 15%);
      --sys-color-on-base: hsl(285 100% 96%);
      --sys-color-surface: hsl(251 100% 7%);
      --sys-color-cdt-base: hsl(258 100% 12%);
      --sys-color-cdt-base-container: hsl(156 100% 51%);
      /* --sys-color-cdt-base-container: hsl(256 100% 12%); */
      --sys-color-surface1: hsl(260 100% 14%);
      --sys-color-surface2: hsl(266 100% 19%);
      --sys-color-surface3: hsl(270 100% 24%);
      --sys-color-surface4: hsl(272 100% 27%);
      --sys-color-surface5: hsl(275 100% 31%);
      --sys-color-header-container: hsl(262 100% 18%);
      --sys-color-divider: hsl(302 100% 50%);
      --sys-color-divider-prominent: hsl(300 100% 61%);
      --sys-color-tonal-container: hsl(178 100% 19%);
      --sys-color-on-tonal-container: hsl(176 82% 81%);
      --sys-color-neutral-container: hsl(256 77% 19%);
      --sys-color-on-surface: hsl(285 100% 96%);
      --sys-color-on-surface-subtle: hsl(268 80% 80%);
      --sys-color-state-focus-ring: hsl(177 100% 44%);
      --sys-color-state-focus-select: hsl(178 100% 24%);
      --sys-color-state-text-highlight: hsl(290 100% 74%);
      --sys-color-token-keyword: hsl(300 100% 67%);
      --sys-color-token-string: hsl(33 100% 50%);
      --sys-color-token-number: hsl(129 86% 60%);
      --sys-color-token-comment: hsl(178 100% 38%);
      --sys-color-token-tag: hsl(242 100% 81%);
      --sys-color-token-attribute: hsl(184 100% 48%);
    }
  }
}
